body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: beige;
    margin: 0;
}

.container{
    background-image: url("/static/img/binary3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;

}

button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    background-color: beige;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
    border-style: none;
    border: solid 2px beige;
    margin-top: 10px;
}

button:hover{
    border-color: black;
    background-color: lightyellow;
}

.domain_btn{
    width:150px;
}

.domain_btn:focus{
    background-color: darkcyan;
    color: white;
    border-color : darkcyan;
}

.top_btn{
    background-color: powderblue;
    border-color:powderblue;
    display: inline;
    float: left;
    margin-right: 10px;
}

.submit_btn{
    background-color: seagreen;
}

input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

.top{
    background-color: rgba(0,0,0,0.5);
    height: 10vh;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 20px 10px 20px;
    margin-top: 10px;
}

.top-menu{
    position:absolute;
    top: 5vh;
    left: 50px;
    padding: 5px;
    text-align: left;
}


#clock{
    position:absolute;
    top: 7vh;
    right: 50px;
    font-size: 20px;
    border: 2px solid beige;
    padding: 5px;
    width: 120px;
    border-radius: 5px;
}

#new_warning{
    position:absolute;
    top: 7vh;
    right: 250px;
    background-color: lightgreen;
    color: black;
    font-size: 20px;
    border: 2px solid lightgreen;
    padding: 5px;
    width: 120px;
    border-radius: 5px;
}

h1{
    margin: auto;
    margin-top: 2.8vh;
}

.main{
    display: flex;
    height: 90vh; 
    max-width: 98vw;
    margin: auto;
}

.widget{
    height: 80vh;
    background-color: rgba(0,0,0,0.4); 
    margin: 8px;
    padding: 5px;
    padding-top: 0px;
    width: 32%;
    min-width: 300px;
    text-align: center;
    border-radius: 10px;
}

.notepad{
    max-width: 30vw;
    font-size: 20px;
}

#note-area{
    font-size: 18px;
    max-width: 28vw;
    max-height: 58vh;
    min-height: 25vh;
    border-radius: 10px;
}

#index1{
    height: 80vh;
    background-color: rgba(0,0,0,0.4); 
    margin: 8px;
    padding: 5px;
    padding-top: 0px;
    width: 15%;
    min-width: 150px;
    text-align: center;
    border-radius: 10px;
}

#index2{
    height: 80vh;
    background-color: rgba(0,0,0,0.4); 
    margin: 8px;
    padding: 5px;
    padding-top: 0px;
    width: 30%;
    min-width: 300px;
    text-align: center;
    border-radius: 10px;
}

#knowledge{
    height: 80vh;
    background-color: rgba(0,0,0,0.4); 
    margin: 8px;
    padding: 5px;
    padding-top: 0px;
    width: 50%;
    min-width: 400px;
    text-align: center;
    border-radius: 10px;
}

.domain_radio{
    font-size: 20px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.domain_form_new{
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
   
}

.topic_area{
    font-size: 20px;
    max-width: 24vw;
    min-width: 15vw;
    min-height: 10vh;
    max-height: 30vh;
}

.problem_area{
    font-size: 20px;
    max-width: 32vw;
    min-width: 15vw;
    min-height: 10vh;
    max-height: 30vh;
}

.solution_area{
    font-size: 20px;
    max-width: 32vw;
    min-width: 15vw;
    min-height: 10vh;
    max-height: 30vh;
}

.left{
    text-align: left;
}

.pad10vw{
    padding-left: 10vw;
}

.topic_list{
    height: 70vh;
    overflow-y: auto;
}

.topic_search{
    font-size: 40;
    border: 2px black solid;
    border-radius: 10px;
    height: 36px;
    width: 70%;
}

