<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Knowledgebase</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/scripts.js"></script>
</head>
<body onload="startTime()">
    <div class="container">
        <div class="top">
            <div class="top-menu">
                <a href="/"><button class="top_btn">Search</button></a>
                <a href="/new"><button class="top_btn">New</button></a>
            </div>
            <h1>Coding knowledgebase</h1>
            <div id="clock"></div>
        </div>
        <div class="main">
            <div id="index1">
                <h2>Domains</h2>
                {% for domain in domain_list %}
                    <p><button class="domain_btn">{{domain}}</button></p>
                {% endfor %}
            </div>
            <div id="index2">
                <h2>Topics</h2>
                <input class="topic_search" type="text">
                <button class="search_btn">&#x1F50D;</button>
                <div class="topic_list">
                    {% for topic in topic_list %}
                        <p class="topic">{{topic}}</p>
                    {% endfor %}
                </div>
            </div>
            <div id="knowledge">
                <h2>Knowledge</h2>
            </div>
        </div>
    </div>
</body>

<script>
    $(".domain_btn").click(function(event) {
        console.log("Checkpoint Alpha");
        $(".domain_btn").css("background-color", "beige");
        $(".domain_btn").css("border-color", "beige");
        $(this).css("background-color", "darkcyan");
        $(this).css("border-color", "darkcyan");
    });
</script>
</html>

