<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Knowledgebase</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/scripts.js"></script>
</head>
<body onload="startTime()">
    <div class="container">
        <div class="top">
            <div class="top-menu">
                <a href="/"><button class="top_btn">Search</button></a>
                <a href="/new"><button class="top_btn">Add</button></a>
                <a href="/change"><button class="top_btn">Change</button></a>
            </div>
            <h1>Coding knowledgebase</h1>
            <div id="new_warning">New</div>
            <div id="clock"></div>
        </div>
        <div class="main">
            
                <div id="index1">
                    <h2>Domains</h2>
                <form class="domain_form_new">
                    {% for domain in domain_list %}
                        <input type="radio" id="{{domain}}" name="domain" class="domain_radio" value="{{domain}}" required>
                        <label  class="domain_radio" for="{{domain}}">{{domain}}</label><br><br>
                    {% endfor %}
                </form>    
                </div>
                <div id="index2">
                    <h2>Topic</h2>
                    <textarea id="topic_input" class="topic_area" rows="4" cols="36" required></textarea>
                </div>
                <div id="knowledge">
                    <h2>Knowledge</h2>
                    <br>
                    <h3 class="left pad10vw">&#187; Problem</h3>
                    <textarea id="problem_input" class="problem_area" rows="6" cols="80" required></textarea>
                    <br>
                    <h3 class="left pad10vw">&#187; Solution</h3>
                    <textarea id="solution_input" class="solution_area" rows="6" cols="80" required></textarea>
                    <br>
                    <button class="submit_btn">Save</button>
                </div>
            
        </div>
    </div>
</body>

<script>
    $(".submit_btn").click(post);

    function success(){
        alert("Saved to DB");
    }

    function post(){
        var domain = $("input:radio[name='domain']:checked").val();
        var topic = $("#topic_input").val();
        var problem = $("#problem_input").val();
        var solution = $("#solution_input").val();

        if (domain && topic && problem && solution){
            var data= {
                "domain":domain,
                "topic":topic,
                "problem":problem,
                "solution":solution
            }
            console.log(data);
            
            $.ajax({
                type: "POST",
                url: "/new",
                data: data,
                success: success,
                dataType: "json"
                });
            alert("Knowledge added !");
            $("input:radio[name='domain']:checked").prop('checked', false);
            location.reload();
        } else {
            alert("Fill in all fields please");
        }
       
   } 

</script>
</html>

