<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Knowledgebase</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/scripts.js"></script>
</head>
<body onload="startTime()">
    <div class="container">
        <div class="top">
            <div class="top-menu">
                <a href="/"><button class="top_btn">Search</button></a>
                <a href="/new"><button class="top_btn">New</button></a>
            </div>
            <h1>Coding knowledgebase</h1>
            <div id="new_warning">New</div>
            <div id="clock"></div>
        </div>
        <div class="main">
            <form class="domain_form_new">
                <div id="index1">
                    <h2>Domains</h2>
                
                    {% for domain in domain_list %}
                        <input type="radio" id="{{domain}}" name="domain" class="domain_radio" value="{{domain}}">
                        <label  class="domain_radio" for="{{domain}}">{{domain}}</label><br><br>
                    {% endfor %}
                <div id="index2">
                    <h2>Topic</h2>
                </div>
                <div id="knowledge">
                    <h2>Knowledge</h2>
                </div>
            </form>
        </div>
    </div>
</body>

<script>

</script>
</html>

